html {

    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;    

}

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}

body{
    
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);

}

#menu1 {
    margin: 10;
    display: flex;
    width: 27.5vw; /* Adjusted width to fit on the left */
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    bottom: 0;
    left: 3%; /* Align to the left side */
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    border-radius: 10px;
}

#menu2 {
    margin: 10;
    display: flex;
    width: 31vw; /* Adjusted width to fit on the left */
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    bottom: 0;
    left: 32.5%; /* Center horizontally */
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    border-radius: 10px;
}

#menu3 {
    margin: 10;
    display: flex;
    width: 19vw; /* Adjusted width to fit on the left */
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    bottom: 0;
    left: 65%; /* Center horizontally */
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    border-radius: 10px;
}

#menu4 {
    margin: 10;
    display: flex;
    width: 8vw; /* Adjusted width to fit on the left */
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    bottom: 0;
    left: 86%; /* Center horizontally */
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    border-radius: 10px;
}

.text {
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
}

#preloader {
    animation: fadeOut 3s forwards; /* Fade out background */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#preloader.active .icon {
    animation: strok 1.5s reverse;
}

.reverse-animation {
    animation: strok 1.5s reverse forwards; /* Play animation in reverse */
}

.reverse-animation .icon {
    animation: strok 1.5s forwards reverse;
}

.menu__item.active .icon {
    animation: strok 3s reverse;
}

@keyframes strok {

    100% {

        stroke-dashoffset: 400;

    }

}

.containerTest {
    margin: 0;
    width: 98.5vw;
    height: 84vh;
    top: 2%;
    bottom: 2%;
    display: flex;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Arrange children vertically */
    transition: background-color var(--duration);
    filter: blur(100);
    color: white;
    font-family: sans-serif;
    border-radius: 20px;
    z-index: 0;

    display: none;
    opacity: 0;
}


/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply fade-in animation */
.containerTest.fade-in {
    animation: fadeIn 1s forwards;
}

/* After the fade-in animation completes, make sure it's fully visible */
.containerTest {
    display: block; /* Ensure the container is visible */
}

.rightDisplay {
    padding: 2%;
    width: 30vw;
    height: 80vh;
    top: 4%;
    bottom: 2%;
    right: 2%;
    display: flex;
    font-size: 1rem;
    position: fixed;
    flex-direction: column; /* Arrange children vertically */
    background-color: black;
    color: white;
    font-family: sans-serif;
    border-radius: 20px;
    z-index: 1;
    align-items: left;
    border: 3px solid black;
    text-align: left;

    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);
}

#title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

#heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
    display: none;
}

#sub-heading {
    font-size: 1rem;
    margin-top: 2%;
    margin-right: 20px;
}

#sub-heading2 {
    font-size: 1rem;
    color: black;
}

#border {
    border-bottom: 3px solid black;
    margin-left: -8%;
    margin-right: -8%;
    margin-top: 4%;
    margin-bottom: 20px;
}

.leftDisplay {
    margin: 0;
    width: 65vw;
    height: 80vh;
    top: 4%;
    bottom: 2%;
    left: 2%;
    font-size: 1.5em;
    position: fixed;
    background-color: white;
    border: 3px solid black;
    font-family: sans-serif;
    border-radius: 20px;
    z-index: 1;

    display: flex; /* Flex container */
    flex-direction: row; /* Align items in a horizontal row */
    justify-content: flex-start; /* Items start from the left */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add padding inside the container */

    overflow: auto; /* Enable scrolling */
    scroll-behavior: smooth; /* Smooth scroll for better UX */
}

.leftDisplay::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


.subCategory {
    flex: 0 0 auto; 
    width: 12vw; /* Fixed width */
    height: 98%; /* Almost full height */
    border: 3px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    background-color: black;

    /* Optional: Add margin to space them out */
    margin-right: 10px;
    
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align content to the top vertically */
    align-items: left; /* Center content horizontally */
    padding-top: 10px; /* Optional: Adds some space between the content and the top of the subCategory */
}

.active-subcategory {
    border: 2px solid #ff6f61; /* Highlight color */
    border-radius: 8px; /* Optional, for rounded corners */
    padding: 5px; /* Adjust as needed */
    transition: border-color 0.3s ease; /* Smooth transition */
  }
  

.end-spacer {
    flex-shrink: 0; 
    width: 50vw; 
    height: 1px;
  }
  
  .subCategoryPart {
    width: 100%;
    height: 10%; 
    border: 3px solid black;
    border-radius: 20px;
    z-index: 3;
    background-color: white;
    cursor: pointer;

    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Align content to the top vertically */
    align-items: center; /* Center content horizontally */
}

.subCategoryPartContinuous {
    width: 200%;
    height: 10%; 
    border: 3px solid black;
    text-align: left;
    border-radius: 20px;
    padding-left: 2vw;
    z-index: 3;
    background-color: yellow;
    cursor: pointer;

    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Align content to the top vertically */
    align-items: left; /* Center content horizontally */

    position: absolute;
    top: 56%;   /* 50px from the top of the containing block */
    left: 40.2%; /* 100px from the left of the containing block */
}

.subCategoryPartContinuous:nth-child(2) {
    top: 66%;   /* 50px from the top of the containing block */
}


.subCategoryPartContinuous:nth-child(3) {
    top: 76%;   /* 50px from the top of the containing block */
}

.subCategoryPartContinuous:nth-child(4) {
    top: 86%;   /* 50px from the top of the containing block */
}

.menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    padding: 0.55em 0 0.85em;
    will-change: transform;
    transition: transform var(--timeOut, var(--duration));
}

.menu__item::before{
    
    content: "";
    z-index: -1;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
    
}


.menu__item.active {

    transform: translate3d(0, -.8em , 0);

}

.menu__item.active::before{
    
    transform: scale(1.25);
    background-color: var(--bgColorItem);

}

.icon{
    
    width: 15vw;
    height: 15vw;
    stroke: white;
    fill: transparent;
    stroke-width: 0.5pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    background-color: black;
    border-radius: 20px;
    
}

.menu__border{

    left: 0;
    bottom: 99%;
    height: 3vw;
    width: 6.5vw;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
    
}


.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 80em) {
    .menu{
        font-size: .5rem;

        margin: 10;
        display: flex;
        width: 40vw;

        padding: 0 2.85em;
        position: fixed; /* Change from relative to fixed */
        bottom: 0; /* Place it at the bottom of the page */
    }
}

    @media screen and (max-width: 80em) {
        .text{
            font-size: .6rem;
        }
}
    @media screen and (max-width: 50em) {
        .text{
            font-size: .5rem;
        }
}
    @media screen and (max-width: 60em) {
        .menu__item.active::before{
            transform: scale(0.6);
            background-color: var(--bgColorItem);
        }
}
    @media screen and (max-width: 40em) {
        .menu__item.active::before{
            transform: scale(0.51);
            background-color: var(--bgColorItem);
        }
}